@{
    ViewData["Title"] = "Posts";
}

@model PostListViewModel

<div class="all-posts">
    @foreach (var p in Model.Posts)
    {
        <div class="post-item">
            <a href="@p.PhotoFullPath()" data-lightbox="posts">
                <img src="@p.PhotoFullPath()" />
            </a>
            <div class="mm-text">@p.ItemName</div>
            <div><span class="price">@p.Price</span></div>
            <div class="post-footer">
                <div>
                    <span><i class="fa fa-thumbs-up" aria-hidden="true"></i>@p.TotalLikes</span>
                </div>
                <div>
                    <span><i class="fa fa-share-alt" aria-hidden="true"></i>@p.Shares</span>
                </div>
                <span class="mm-text shop-name">@p.ShopName</span>
            </div>
        </div>
    }
</div>

<nav>
    <ul class="pager">
        @if(Model.PrevPage.HasValue)
        {
            <li class="previous"><a asp-controller="Posts" asp-action="Index" asp-route-page="@Model.PrevPage"><i class="fa fa-arrow-left" aria-hidden="true"></i> Prev</a></li>
        }
        @if (Model.NextPage.HasValue)
        {
            <li class="next"><a asp-controller="Posts" asp-action="Index" asp-route-page="@Model.NextPage">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
        }
    </ul>
</nav>
