@{
    ViewData["Title"] = "Products";
}

@model PostListViewModel

<div class="all-posts">
    @foreach (var p in Model.Posts)
    {
        <div class="post-item">
            <a href="@p.PhotoFullPath()" data-lightbox="posts">
                <img src="@p.PhotoFullPath()" />
            </a>
            <div class="mm-text">@p.ItemName</div>
            <div><span class="price">@p.Price</span></div>
        </div>
    }
</div>

<nav>
    <ul class="pager">
        @if(Model.PrevPage.HasValue)
        {
            <li class="previous"><a asp-controller="Posts" asp-action="Index" asp-route-page="@Model.PrevPage">Prev</a></li>
        }
        @if (Model.NextPage.HasValue)
        {
            <li class="next"><a asp-controller="Posts" asp-action="Index" asp-route-page="@Model.NextPage">Next</a></li>
        }
    </ul>
</nav>
